name: build-and-test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Instalar dependencias
        run: npm ci

      - name: Generar cliente de Prisma
        run: npx prisma generate

      - name: Ejecutar Linter
        run: npm run lint

      - name: Ejecutar Tests
        run: npm test -- --coverage --watchAll=false
        continue-on-error: false

      - name: Build de Next.js
        run: npm run build
